body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-xlarge {
    padding: 25px 42px;
    font-size: 30px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
}

.btn-wait {
	background-color: "gray";
}